.about-container{
display: grid;
color: black;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
}

.about-container--img{
    border-radius: 50%;
    width: 170px;
    height: 200px;
    margin-bottom: 20px;

}

.about-container__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.about-container--description{
    width: 300px;
    margin-top: 40px;
}

.about-container--description--name{
    font-size: 30px;
    margin-bottom: 20px;
}

.about-container--description--text{
    font-size: 20px;
}

.about-container__skills{
    margin-top: 40px;
}

.about-container__skills--title{
    margin-left: 40px;
    margin-bottom: 10px;
}

.about-container__skills--list{
    font-size: 18px;
}

.about-container__social {
margin-top: 40px;
display: flex;
gap: 40px;
color: black;
}

.about-container__social a{
    color: black;
}