img{
 width: 100px;
 height: 130px;
}

h1{
text-align: center;
margin-top: 40px;
margin-bottom: 40px;
color: rgb(4, 4, 68);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.container__product{
    margin: 0 auto;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.container__product--name{
    color: black;
    text-align: center;
    width: 200px;
}